configuration {
  display-drun: " Search...";
  display-window: "Windows:";
  drun-display-format: "{name}";
  ont: "MesloLGLDZ Nerd Font Propo 12";
  modi: "window,run,drun";
}

@theme "/dev/null"

* {
  bg: #00000068;
  bg-alt: #292928dd;
  bg-selected: #787875d6;

  fg: #fffffa;
  fg-alt: #ffffff;


  border: 0;
  margin: 0;
  padding: 0;
  spacing: 0;
}

window {
  width: 30%;
  background-color: transparent;
  border: 2;
  border-color: @fg;
}

element {
  padding: 8 12;
  background-color: transparent;
  text-color: @fg-alt;
  margin: 8 8 8 8;
}

element selected {
  text-color: @fg;
  background-color: #15171888;
}

element-text {
  background-color: transparent;
  text-color: inherit;
  vertical-align: 0.5;
}

entry {
  padding: 12;
  background-color: transparent;
  text-color: @fg;
}

inputbar {
  children: [prompt, entry];
  background-color: #00000099;
  margin: 8 8 8 8;
}

listview {
  background-color: #00000099;
  columns: 1;
  lines: 10;
}

mainbox {
  children: [inputbar, listview];
  background-color: @bg;

}

prompt {
  enabled: true;
  padding: 12 0 0 12;
  background-color: transparent;
  text-color: @fg;
}

