* {
border: none;
border-radius: 0;
font-family: MesloLGLDZ Nerd Font Propo;
transition: background-color .3s ease-out;
font-size: 13px;
font-weight: bold;
min-height: 0px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.8);
    transition-property: background-color;
    transition-duration: .5s;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}


.modules-left {
    margin-left: -5px;
    border-radius: 0px;
    margin: 0px 0px 3px 0px;
    background-color: transparent;
    box-shadow: 0px 0px 2px #101010;
    transition-property: background-color;
    transition-duration: .5s;
    padding-left: 4px;
    padding-right: 4px;
}

.modules-right {
    margin-left: -5px;
    border-radius: 0px;
    margin: 0px 0px 3px 0px;
    background-color: transparent;
    box-shadow: 0px 0px 2px #101010;
    transition-property: background-color;
    transition-duration: .5s;
    padding-right: 4px;
    padding-left: 4px;
}

#workspaces {
margin: 0px 0px;
transition: 0.2s ease;
padding: 1px 2px;
}


#workspaces button {
padding: 4px 10px;
margin: 0px;
color: @foreground;
border: none;
opacity: 0.5;
font-weight: 900;
border: none;
border-radius: 0;
}

#workspaces button.active {
color: @foreground;
transition: all 0.3s ease;
padding: 4px 10px;
opacity: 1.0;
}

#workspaces button:hover {
background: transparent;
color: alpha(@foreground, 0.4);
animation: ws_hover 20s ease-in-out 1;
transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.empty {
opacity: 0.15;
color: @foreground;
transition: all 0.3s ease;
padding: 1px 4px;
}

#workspaces button.empty.active {
opacity: 1;
color: @foreground;
transition: all 0.3s ease;
padding: 1px 4px;
}



#clock, #cpu, #memory, #network, #pulseaudio, #temperature #workspaces {
padding: 0px 10px;
margin: 8px 10px;
}

#clock {
background-color: transparent;
color: white
}

#temperature {
padding: 0px 10px;
margin: 8px 10px;
}






@keyframes blink {
    to {
        background-color: transparent;
        color: black;
    }
}

#temperature {
background: transparent;
color: white;
}

#cpu {
background: transparent;
color: white;
}

#memory {
background: transparent;
color: white;
}

#network {
background: transparent;
color: white;
}

#network.disconnected {
background: #40B36A;
}

#pulseaudio {
background: transparent;
color: white;
}

#pulseaudio.muted {
background: transparent;
color: white;
}


