window {
    font-family: MesloLGLDZ Nerd Font Propo;
    font-size: 16pt;
    color: #cdd6f4; 
    background-color: rgba(0, 00, 00, 0.6);
    border: 15px;
    border-color: rgba(255,255,255,1);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-color: rgba(00, 00, 00, 0.88);
    border-radius: 0px;
    margin: 10px;
    color: #FFFFFF;
    border: 2px solid #323438;
    animation: gradient_f 10s ease-in infinite;
    transition:
    border, background-size 0.2s cubic-bezier(0.9, 0, 0.28, 1.682),
    box-shadow 0.2s ease-in-out;

}




button:hover {
    background-color: rgba(00, 00, 00, 0);
    color: #ffffff; 
    background-position: center;
    border-radius: 0px; /*rmovvw ts*/

}

button:focus {
	outline-style: solid;
	background-size: 30%;
	border-radius: 0px;
	border: 2px solid #ffffff;
        border-color: rgba(255,255,255,1);
}


button:disabled {
    opacity: 0;
    border: none;
    background: transparent;
}


#logout {
    background-image: image(url("/home/fm1/.config/wlogout/icons/logout-hover.png"));
}

#sleep {
    background-image: image(url("/home/fm1/.config/wlogout/icons/sleep-hover.png"));

}

#shutdown {
    background-image: image(url("/home/fm1/.config/wlogout/icons/power-hover.png"));

}

#reboot {
    background-image: image(url("/home/fm1/.config/wlogout/icons/restart-hover.png"));
}




